<head>
<style>
body {
      background-color: black;
    }
.First-box-container {
  width: 300px;
  height: 100px;
  background-color: red;
  position: absolute;
  
}
.Second-box-container {
  width: 300px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 350px;
  
  
}
.Third-box-container {
  width: 300px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 700px;
 
  
}

</style>
</head>

