<head>
<style>
body {
      background-color: black;
    }
.First-box-container {
  width: 300px;
  height: 100px;
  background-color: red;
  position: absolute;
  border-style: solid;
  border-width: 15px;
  border-color: green;
  color: purple;
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  
   
}
.Second-box-container {
  width: 300px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 400px;
  border-style: solid;
  border-width: 15px;
  border-color: red;
  color: purple;
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
   
  
}
.Third-box-container {
  width: 300px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 800px;
  border-style: solid;
  border-width: 15px;
  border-color: yellow;
  color: purple;
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  
}

</style>
</head>

